body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-item {
    text-align: center;
    margin: 0 10px;
}

.countdown-item span {
    font-size: 24px;
}

.event-details {
    text-align: center;
    margin-top: 20px;
}

.event-details h2 {
    margin-bottom: 10px;
}

.event-details p {
    margin-bottom: 5px;
}
